body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
h1{
    font-size: 100px;
}
.square{
    margin: 0px;
    background: none;
    height: 100px;
    width: 100px;
    font-size: 50px;
}
.squarebk{
    background: none;
    transition: .3s;
}
.squarebk:hover{
    background-color: white;
}
.boardRow{
    display: flex;
    flex-direction: row;
}
.board{
    display: flex;
    flex-direction: column;
}
.status{
    font-size: 30px;
    margin-bottom: 10px;
}
.reload{
    margin: 20px;
    width: 100px;
    background-color: grey;
    color: white;
    border-radius: 5px;
    transition: .3s;
}
.reload:hover{
    background-color: #3d3d3d;
}
.winSqr{
    background-color: greenyellow;
}
.gameField{
    display: flex;
    flex-direction: row;
}
.history{
    margin-left: 150px;
}